7.1 - Loop Over Items (Extra) - Curso Completo de N8N Do Básico à Inteligência Artificial.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        220
      ],
      "id": "706bb1d0-bd0a-4d4a-a37e-275646660c57",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.preferencia_contato }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d03c99ce-b2e3-4184-b102-1ea72ac05591"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "E-mail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "277ce24b-c627-49ad-93b6-0496892ee2c6",
                    "leftValue": "={{ $json.preferencia_contato }}",
                    "rightValue": "telefone",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telefone"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        240
      ],
      "id": "6e0cb5c8-998c-4586-90f5-fb6bf3c930ae",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        20
      ],
      "id": "75e45ee0-4ae7-47fd-902d-e59b068fa934",
      "name": "Envia e-mail."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        220
      ],
      "id": "1244d173-309d-42b9-8c2f-cb5f74a11c1e",
      "name": "Envia mensagem no whatsApp."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        420
      ],
      "id": "ca837edf-266a-4191-9f2c-3f14e2265bd3",
      "name": "Não faz nada."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        220
      ],
      "id": "3dca3180-0692-4051-8ca0-0a98d77936f0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        980,
        320
      ],
      "id": "8a6c781e-ed9a-42e9-b381-f332277069d9",
      "name": "Wait",
      "webhookId": "a5f58ca7-29c0-495d-b2d0-9b4136420a6d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43102459-25df-4b74-8087-7d22a89bf3d2",
              "name": "email",
              "value": "={{ $('Loop Over Items').item.json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        20
      ],
      "id": "3c6fdcea-d18b-40d8-aaa8-05a479bd501b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65d7d9ca-82d0-47ea-a0f3-2b734a1b3781",
              "name": "telefone",
              "value": "={{ $('Loop Over Items').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        220
      ],
      "id": "7919264d-b249-4790-8585-f126940acad5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        60
      ],
      "id": "7d8336c7-907d-4f64-9f4e-aa935d062ca3",
      "name": "Continua o fluxo"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "nome": "João Silva",
          "email": "joao.silva@example.com",
          "telefone": "(11) 98765-4321",
          "preferencia_contato": "outro"
        }
      },
      {
        "json": {
          "nome": "Maria Oliveira",
          "email": "maria.oliveira@example.com",
          "telefone": "(21) 99876-5432",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Carlos Souza",
          "email": "carlos.souza@example.com",
          "telefone": "(31) 98765-1234",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Ana Costa",
          "email": "ana.costa@example.com",
          "telefone": "(41) 99876-4321",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Pedro Santos",
          "email": "pedro.santos@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Lucia Pereira",
          "email": "lucia.pereira@example.com",
          "telefone": "(61) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Marcos Lima",
          "email": "marcos.lima@example.com",
          "telefone": "(71) 98765-3456",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Fernanda Rocha",
          "email": "fernanda.rocha@example.com",
          "telefone": "(81) 99876-6543",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Ricardo Alves",
          "email": "ricardo.alves@example.com",
          "telefone": "(85) 98765-7890",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Juliana Martins",
          "email": "juliana.martins@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Paulo Ferreira",
          "email": "paulo.ferreira@example.com",
          "telefone": "(11) 98765-9012",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Amanda Gomes",
          "email": "amanda.gomes@example.com",
          "telefone": "(21) 99876-2109",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Roberto Barbosa",
          "email": "roberto.barbosa@example.com",
          "telefone": "(31) 98765-1098",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Patricia Nunes",
          "email": "patricia.nunes@example.com",
          "telefone": "(41) 99876-0987",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Eduardo Castro",
          "email": "eduardo.castro@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Camila Dias",
          "email": "camila.dias@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Gustavo Ramos",
          "email": "gustavo.ramos@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Isabela Teixeira",
          "email": "isabela.teixeira@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Daniel Monteiro",
          "email": "daniel.monteiro@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Tatiane Cardoso",
          "email": "tatiane.cardoso@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Felipe Andrade",
          "email": "felipe.andrade@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Vanessa Cunha",
          "email": "vanessa.cunha@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Rafael Lopes",
          "email": "rafael.lopes@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Sandra Moreira",
          "email": "sandra.moreira@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Marcelo Xavier",
          "email": "marcelo.xavier@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Beatriz Freitas",
          "email": "beatriz.freitas@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Hugo Correia",
          "email": "hugo.correia@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Larissa Macedo",
          "email": "larissa.macedo@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Alexandre Pires",
          "email": "alexandre.pires@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Cristina Vidal",
          "email": "cristina.vidal@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Leonardo Maia",
          "email": "leonardo.maia@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Renata Tavares",
          "email": "renata.tavares@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Rodrigo Fonseca",
          "email": "rodrigo.fonseca@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Viviane Peixoto",
          "email": "viviane.peixoto@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Roberta Miranda",
          "email": "roberta.miranda@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Diego Vasconcelos",
          "email": "diego.vasconcelos@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Mariana Barcelos",
          "email": "mariana.barcelos@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Thiago Guimarães",
          "email": "thiago.guimaraes@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Leticia Faria",
          "email": "leticia.faria@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "André Campos",
          "email": "andre.campos@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Simone Dantas",
          "email": "simone.dantas@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Bruno Siqueira",
          "email": "bruno.siqueira@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Adriana Brito",
          "email": "adriana.brito@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Otávio Medeiros",
          "email": "otavio.medeiros@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Elaine Azevedo",
          "email": "elaine.azevedo@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Maurício Barros",
          "email": "mauricio.barros@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Alice Galvão",
          "email": "alice.galvao@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Sérgio Leal",
          "email": "sergio.leal@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Luciana Bezerra",
          "email": "luciana.bezerra@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Igor Cordeiro",
          "email": "igor.cordeiro@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Natália Duarte",
          "email": "natalia.duarte@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Henrique Queiroz",
          "email": "henrique.queiroz@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Raquel Veloso",
          "email": "raquel.veloso@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Fábio Paiva",
          "email": "fabio.paiva@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Priscila Maciel",
          "email": "priscila.maciel@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Caio Rangel",
          "email": "caio.rangel@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Yasmin Fontes",
          "email": "yasmin.fontes@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Victor Chaves",
          "email": "victor.chaves@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Laura Pinheiro",
          "email": "laura.pinheiro@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Elias Bento",
          "email": "elias.bento@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Daniela Arouca",
          "email": "daniela.arouca@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Jorge Teles",
          "email": "jorge.teles@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Gabriela Dinis",
          "email": "gabriela.dinis@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Samuel Abrantes",
          "email": "samuel.abrantes@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Helena Sacramento",
          "email": "helena.sacramento@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Rui Guedes",
          "email": "rui.guedes@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Tânia Botelho",
          "email": "tania.botelho@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Artur Valente",
          "email": "artur.valente@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Sofia Quintas",
          "email": "sofia.quintas@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Nuno Matos",
          "email": "nuno.matos@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Inês Godinho",
          "email": "ines.godinho@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Miguel Couto",
          "email": "miguel.couto@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Carolina Figueiredo",
          "email": "carolina.figueiredo@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Bernardo Rebelo",
          "email": "bernardo.rebelo@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Mafalda Mota",
          "email": "mafalda.mota@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Gil Vicente",
          "email": "gil.vicente@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Diana Varela",
          "email": "diana.varela@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Afonso Rosado",
          "email": "afonso.rosado@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Clara Tavares",
          "email": "clara.tavares@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Tomás Fonseca",
          "email": "tomas.fonseca@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Margarida Brito",
          "email": "margarida.brito@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Lourenço Neves",
          "email": "lourenco.neves@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Matilde Seixas",
          "email": "matilde.seixas@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Duarte Candeias",
          "email": "duarte.candeias@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Bianca Vilas-Boas",
          "email": "bianca.vilasboas@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Gaspar Pacheco",
          "email": "gaspar.pacheco@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Constança Bessa",
          "email": "constanca.bessa@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Xavier Andrade",
          "email": "xavier.andrade@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Leonor Barata",
          "email": "leonor.barata@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Rodrigo Castelo",
          "email": "rodrigo.castelo@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Beatriz Canário",
          "email": "beatriz.canario@example.com",
          "telefone": "(11) 98765-2109",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Francisco Damásio",
          "email": "francisco.damasio@example.com",
          "telefone": "(21) 99876-1098",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Joana Espinho",
          "email": "joana.espinho@example.com",
          "telefone": "(31) 98765-0987",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Tiago Falcão",
          "email": "tiago.falcao@example.com",
          "telefone": "(41) 99876-9876",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Rita Gouveia",
          "email": "rita.gouveia@example.com",
          "telefone": "(51) 98765-8765",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Martim Hilário",
          "email": "martim.hilario@example.com",
          "telefone": "(61) 99876-7654",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Sara Jordão",
          "email": "sara.jordao@example.com",
          "telefone": "(71) 98765-6543",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "Guilherme Lacerda",
          "email": "guilherme.lacerda@example.com",
          "telefone": "(81) 99876-5432",
          "preferencia_contato": "email"
        }
      },
      {
        "json": {
          "nome": "Teresa Meneses",
          "email": "teresa.meneses@example.com",
          "telefone": "(85) 98765-4321",
          "preferencia_contato": "telefone"
        }
      },
      {
        "json": {
          "nome": "David Nascimento",
          "email": "david.nascimento@example.com",
          "telefone": "(91) 99876-3210",
          "preferencia_contato": "email"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Continua o fluxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia e-mail.": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem no whatsApp.": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada.": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Envia e-mail.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Envia mensagem no whatsApp.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9066346a-8576-4cb4-ba59-9ca7062919c8",
  "meta": {
    "instanceId": "320070d263fbbe1b875ecd373d8a1eaad81403c9cbf3900fc1183e5605da52b0"
  },
  "id": "AwvQNrbeXGtf2jg3",
  "tags": []
}